%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'ie=edge', 'http-equiv':'x-ua-compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}

    %title
      =@title

    // stylesheets
    =stylesheet_link_tag  'application'
    %link{href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet', integrity: 'sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==', crossorigin: 'anonymous'}

    // open graph data
    %meta{content: 'http://www.youraddress.com', property: 'og:url'}
    %meta{content: 'website', property: 'og:type'}
    %meta{content: 'Your Awesome Title', property: 'og:title'}
    %meta{content: 'Your Description', property: 'og:description'}
    %meta{content: 'yourbanner.png', property: 'og:image'}

    // twitter card data
    %meta{content:'summary', name:'twitter:card'}
    %meta{content:'@yourname', name:'twitter:site'}
    %meta{content:'Your Awesome Title', name:'twitter:title'}
    %meta{content:'Your Description', name: 'twitter:description'}
    %meta{content: '@yourname', name: 'twitter:creator'}

    %link{type:'text/plain', rel:'author', href:'/humans.txt'}

    // favicons
    %link{rel:'icon', href:'favicon.ico'}
    /[if IE]
      <link rel="shortcut icon" href="/favicon.ico">

    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

  %body{class: @page_classes}

    = partial 'partials/header'

    = yield

    = partial 'partials/footer'
