-@title= 'GitLab Webcast Middleman'
-@page_classes= 'home'

.header-video
  %video.top-video{:autoplay => "", :loop => "", :muted => ""}
    %source{:src => "http://bscottcreative.wpengine.com/wp-content/uploads/2017/10/634938441.mp4", :type => "video/mp4"}
  .header-content
    .container
      %svg.nav-logo{:height => "44", :viewbox => "0 0 400 342", :width => "140", :xmlns => "http://www.w3.org/2000/svg"}
        %g{:fill => "none", "fill-rule" => "evenodd"}
          %g.wordmark{:fill => "#8C929D"}
          %path.logo-svg-shape.logo-dark-orange-shape{:d => "M185.398 341.13l68.013-209.322H117.39L185.4 341.13z", :fill => "#E24329"}
          %path.logo-svg-shape.logo-orange-shape{:d => "M185.398 341.13l-68.013-209.322h-95.32L185.4 341.128z", :fill => "#FC6D26"}
          %path.logo-svg-shape.logo-light-orange-shape{:d => "M22.066 131.808l-20.67 63.61c-1.884 5.803.18 12.16 5.117 15.744L185.398 341.13 22.066 131.807z", :fill => "#FCA326"}
          %path.logo-svg-shape.logo-dark-orange-shape{:d => "M22.066 131.808h95.32L76.42 5.735c-2.107-6.487-11.284-6.487-13.39 0L22.065 131.808z", :fill => "#E24329"}
          %path.logo-svg-shape.logo-orange-shape{:d => "M185.398 341.13l68.013-209.322h95.32L185.4 341.128z", :fill => "#FC6D26"}
          %path.logo-svg-shape.logo-light-orange-shape{:d => "M348.73 131.808l20.67 63.61c1.884 5.803-.18 12.16-5.117 15.744L185.398 341.13 348.73 131.807z", :fill => "#FCA326"}
          %path.logo-svg-shape.logo-dark-orange-shape{:d => "M348.73 131.808h-95.32L294.376 5.735c2.108-6.487 11.285-6.487 13.392 0l40.963 126.073z", :fill => "#E24329"}

      %h1
        %span Build with GitLab: 
        The Webcast
      %p.hidden-sm-down
        GitLab brings all the necessary tools for modern development into a single UI. In this webcast, you'll get a first-hand look at how GitLab integrates version control, project management, code review, testing, and deployment to help enterprise teams move faster from idea to production. Register for our next webcast to see how GitLab can help you or your business.
      %form.align-items-center.justify-content-center
        .row.align-items-center
          .col
            %input.form-control{:placeholder => "NAME", :type => "text"}/
          .col
            %input.form-control{:placeholder => "EMAIL", :type => "text"}/
          .col
            %button.btn.btn-primary{:type => "submit"} REGISTER

.jumbo-line
  %a{:href => "https://about.gitlab.com"}
    Create value faster with the only integrated product for the whole software development and operations lifecycle.
.webcast-content.container
  .row
    .col-md-7.ml-md-auto
      %h3.mt-10
        2/3 of Enterprises Use GitLab
      %p
        Whether you use Waterfall, Agile, or Conversational Development, GitLab streamlines your collaborative workflows. Visualize, prioritize, coordinate, and track your progress your way with GitLab’s flexible project management tools. 
      %p
        Consolidate source code into a single DVCS that’s easily managed and controlled without disrupting your workflow. GitLab’s git repositories come complete with branching tools and access controls, providing a scalable, single source of truth for collaborating on projects and code. Register now to learn more!
    .col-md-4
      .webcast-info
        %h4
          %i THE DETAILS
        .info-block
          %h5.mt-20
            DATE
          %p
            Tuesday, October 17th 2017
        .info-block
          %h5
            TIME
          %p
            4:00 PM - 5:00 PM EST
        %p
          * All events will be recorded but only accessible to registers viewers