//------------------------------------
    #default theme
//------------------------------------

body 
  min-height: 75rem
  padding-top: 3.5rem
  background-color: #F0F0F0

@media (min-width: 1200px)
  .container 
    width: 1200px

.purp
  color: #548!important
  font-weight: 600!important

.navbar 
  background-color: #ffffff
  padding: 0
  .nav-link
    font-size: 15px
    padding: 0 17px!important
    font-weight: 500
    color: #8c929d
    @media (max-width: 1200px)
      padding: 0 4px!important
    .fa-search
      padding-top: 4px


.header-video 
  margin-bottom: 0px
  position: relative
  height: 500px
  overflow: hidden
  .top-video
    width: 100%
    height: auto
  .header-content
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    background: rgba(28,31,39, 0.6)
    color: #fff
    .container
      text-align: center
      max-width: 800px
      padding-top: 120px
      .form-control
        padding: 0.7rem 1rem
        text-align: center
        border-radius: 0px
      svg
        margin-bottom: 25px
      h1 
        text-align: center
        font-weight: 800
        span

      .row
        margin: 0 auto
        max-width: 950px
        .btn-primary
          width: 100%
          background-color: #e65328
          border: none
          border-radius: 3px
          padding: 11px 30px
   

.jumbo-line
  background-color: #5942a0
  padding: 15px 0
  text-align: center
  a 
    color: #ffffff
    margin: 0
    font-weight: 400

.webcast-content
  .row
    .col-md-7
      h3 
        padding-top: 20px
        font-size: 40px
        padding-top: 30px
        font-weight: 700
      p
        padding-top: 10px
    .col-md-4
      padding-top: 40px
      .webcast-info
        background-color: #fff
        padding: 35px
        text-align: center
        border-bottom: 4px solid #e65328
        h4
          font-weight: 700
          color: #e65328
        .info-block
          h5
            font-weight: 700
          P
            color: #8C929C
            font-size: 15px
            font-weight: 400
        p 
          font-size: 12px
          font-weight: 600


